@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Satoshi", sans-serif;
  color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #080808;
}

.logo {
  font-family: "Panchang", sans-serif;
}

.nav-lists:hover {
  background: #282828;
  transition-duration: 0.5s;
}

.nav-lists:active {
  background: #5a5959;
  transition-duration: 0.5s;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-abstract {
    animation: logo-spin 20s linear infinite;
    transform-origin: center center;
    width: 300px;
    margin: 0 auto;
  }
}

.gradient-border-bottom {
  position: relative;
  padding: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 49rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  margin-left: 16px;
  margin-right: 16px;
}

.gradient-border-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #0f0f0f 30%, red, #0f0f0f);
}

@media (max-width: 991px) {
  .accordion {
    width: 100%;
  }
}
